
.a{color: #4285f4; font-size: 65px;}
.b{color: #ea4335; font-size: 65px;}
.c{color: #fbbc05; font-size: 65px;}
.d{color: #34a853; font-size: 65px;}
.e{color: purple; font-size: 65px;}
.f{color: #4285f4; font-size: 65px;}
.g{color: red; font-size: 65px;}
.h{color: #fbbc05; font-size: 65px;}
.i{color: green; font-size: 65px;}
.j{color: yellow; font-size: 65px;}
.k{color: purple; font-size: 65px;}
.l{color: orange; font-size: 65px;}
.m{color: green; font-size: 65px;}
.j{color: yellow; font-size: 65px;}
.k{color: purple; font-size: 65px;}
.l{color: orange; font-size: 65px;}
.m{color: green; font-size: 65px;}
